.image_container{
    position: relative;
   width:100%;
   height: 100%;
    overflow: hidden;
}

.image_container img{
    height: 100%;
    width:100%;
    object-fit:initial;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .4s ease;
}

.image_hovered{
    transform: scale(1.06);
}

.image_extras{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: end;
    padding:26px;
    padding-top: 25px;
    width:100%;
    height: 100%;
    z-index:1;
}
.header_image__more{
    width: 75px;
    min-width: 75px;
}
.image_extras p {
    overflow: hidden;
    height: 60px;
    font-size: 20px;
    color:white;
    max-height: 60px;
}

