.contanier{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:69vh;
}
.auth-form{
    text-align: end;
    width:25%;
}
.auth-form input{
    text-align: end;
}


