<div class="contanier ">
    <span *ngIf="loading && editMode" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <p *ngIf="error" class="error">{{error}}</p>
    <form 
    [formGroup]="addProductForm" 
    class="add-form"
    (ngSubmit)="onSubmit()"
    >
    <div class="form-group">
        <label>שם המוצר</label>
        <select class="form-control w-50 mw-50 align-self-end"  formControlName="name">
            <option value="toast">טוסט</option>
            <option value="omlet">חביתה</option>
            <option value="omlet">שקשוקה</option>
            <option value="pizza">פיצה</option>
            <option value="hamburger">המבורגר</option>
            <option value="shnitzel">שינצל</option>
            <option value="meat">בשר</option>
            <option value="soup">מרק</option>
            <option value="drink">קפה</option>
            <option value="drink">מיץ</option>
            <option value="dessert">גלידה</option>  
        </select>
    </div>
        <div class="form-group">
            <label>תגית</label>
            <input 
            type="text" 
            class="form-control"
            formControlName="title"
            >
        </div>
        <div class="form-group">
            <label>מחיר</label>
            <input 
            class="form-control align-self-end w-50 mw-50"
            min="0"
            step="0.10"
            type="number" 
            formControlName="price"
            >
        </div>
        <div class="form-group" formArrayName="categories">
            <label>קטגוריה</label>
            <label *ngFor="let cat of categoriesCon; let i = index">
            <input type="checkbox" [formControlName]="i" 
            >
             {{categoriesCon[i].name}}</label>
        </div>
        <div formArrayName="ingredients" class="form-group">
            <label>רכיבים</label>
            <button (click)="addControl()" type="button" class="btn btn-primary w-50">הוסף רכיב</button>
            <div *ngFor="let ing of getControls(); let i = index" class="ings">
                <button (click)=deleteControl(i) class="btn btn-danger">&times;</button>
                <input 
                type="text"
                [formControlName]="i"
                >
            </div>
        </div>
        <div class="form-group">
            <input 
            type="file" 
            #file
            class="form-control"
            (change)="addFile($event)"
            >
        </div>
        <div class="form-group">
            <label>תיאור</label>
            <textarea 
            formControlName="description"
            class="form-control"
            cols="30" 
            rows="2"
            ></textarea>
        </div>
        <div class="form-group show_on__home">
            <p>להראות על דף הבית</p>
            <div>
                <label for="home-prod">כן</label>
                <input 
                type="radio" formControlName="homeProd" value="true">
            </div>
            <div>
                <label for="home-prod">לא</label>
                <input 
                type="radio" formControlName="homeProd" checked="checked" value="false">
            </div>
        </div>
        <button type="submit" [disabled]="!addProductForm.valid || !isFile" class="btn btn-primary">אישור
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </form>
</div>
