.contanier{
    width:100%;
}
.form-group{
    display:flex;
    flex-direction: column;
    text-align: end;
}

.add-form{
    margin: auto;
    margin-top: 20px;
    width:30%;
}
.error{
    text-align: center;
    margin-top: 30px;
}
input{
    text-align: end;
}
textarea{
    text-align: end;
}

.ings{
    width:100%;
    display:flex;
    margin:4px;
}
.ings input{
    width:100%;
}

.show_on__home{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.show_on__home label, .show_on__home input{
    width:40px;
    
}

@media (max-width: 700px){
    .add-form{
        width:60%;
    }
}