
<div class="products_main__container">
    <div class="products_header__image">
        <div class="shadower"></div>
            <img  src="http://localhost:3000/{{mainImageUrl}}" alt="">
    </div>
    <p class="no_prods" *ngIf="displayProducts.length === 0">אין מוצרים להצגה</p>
    <span *ngIf="loading" class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
    <div class="menu_container">
        <app-menu [mainCat]="mainCategory" [categories]="subCategoriesArray"></app-menu>
    </div>
    <div class="products_container">
        <div class="products_items__container">
              <div [ngClass]="{'show': show[i]}" *ngFor="let prod of displayProducts; let i = index" class="card">
              <button *ngIf="show[i]" (click)="hideDetails()" class="btn btn-secondary close">&times;</button>
                <img
                  *ngIf="prod"
                  class="card-img-top"
                  src="http://localhost:3000/{{prod.imageUrl}}"
                  alt="Card image cap"
                />
                <div *ngIf="prod"  class="card-body">
                  <h5 class="card-title">{{prod.title}}</h5>
                  <p class="card-text">
                   {{prod.description}}
                  </p>
                  <div *ngIf="show[i]">
                    <p>מחיר: {{prod.price}}$</p>
                    <ul class="ingredients">
                      <li>:רכיבים</li> 
                      <li *ngFor="let ing of prod.ingredients">
                        {{ing}}
                      </li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <button *ngIf="!show[i]" (click)="displayDetails(i)" class="btn btn-secondary">פרטים</button>
                    <button (click)="addToBasket(i)" class="btn btn-warning">הוסף לעגלה</button>
                  </div>
                </div>
              </div> 
        </div>
        <ul class="pagination pagination-md">
            <li *ngFor="let page of pages; let i = index" class="page-item">
              <a class="page-link"
                (click)="setPageNumber(i + 1)"
                [ngClass]="{'active' : currentPage === i + 1}">{{i + 1}}</a>
            </li>
        </ul>
    </div>
</div>