.products_main__container{
    width:100%;
    display: block;
    height: 93vh;
    display:grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 150px 70%;
}

.no_prods{
    font-size: 18px;
    margin-top: 30px;
    grid-row: 2 / 3;
    grid-column: 1 /2;
    text-align:  center;
}
.placeholder{
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 150px;
    background-color: rgb(177, 78, 32);
}

.holder{
    visibility: hidden;
}
.spinner-border{
    position: absolute;
    left:35%;
    top:50%;
}

.card.show{
    
    z-index: 100;
    height: fit-content;
    animation: show .4s ease-out forwards;
    justify-content: space-between;
}

.card.show img{
    max-height: 200px;
}

.ingredients{
    list-style: none;
}

@keyframes show{
    from{
        transform: scale(1) translateY(0%);
    }
    to{
        transform: scale(1.2) translateY( -20%);
    }
}

.menu_container{
    padding-top:20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.products_container{
    grid-row:  2 / 3;
    grid-column:  1 / 2 ;
    width:100%;
    height: 100%;
}
.products_header__image{
    position: relative;
    height: 150px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.shadower{
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.267);
    
}
.products_header__image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.products_items__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.card{
    width:25%;
    margin-top: 20px;
    min-height: 300px;
    min-width: 250px;
    position: relative;
    height: 80%;
    text-align: end;
    position: relative;
}

.card-body{
    display:flex;
    flex-direction: column;
    object-fit: cover;
    padding:15px;
    justify-content: space-evenly;
}

.card-title{
    margin-bottom: 4px;
}
.card-img-top{
    max-height: 250px;
    height: 50%;
    object-fit: cover;
}

.btn{
    position: relative;
    bottom: 10px;

}
.btns{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.pagination{
    align-items: center;
    justify-content: center;
}
.page-link{
    cursor: pointer;
}
.active{
    background-color: deepskyblue;
}

.close{
    width:30px;
    height: 30px;
    position: absolute;
    right:10px;
    top:10px;
}
